doctype html
html
   head
      title = "Saved!"
      style.
          body {
              font-family: "Times New Roman Georgia";
              font-size: 20px;
              background: #1AA7ED;
              text-align:center;
          }
   body
   h1 Name Saved!
   br
   br
   a(href='/') Go Back To home